<mat-card-header>

  <mat-card-title>
    <h1>{{ 'login' | translate | titlecase }} </h1>
  </mat-card-title>

</mat-card-header>

<mat-card-content>


  <form class="formContainer" [formGroup]="loginForm">

    <mat-form-field appearance="fill" class="form-custom">
      <mat-label>{{ 'usuario' | translate | titlecase }} </mat-label>
      <input matInput formControlName="user">
      <mat-icon matSuffix >person</mat-icon>
      <mat-error *ngIf="loginForm.get('user')?.invalid ">{{formValidation.getErrorMessage(loginForm.controls['user']) | async | titlecase }} </mat-error>
    </mat-form-field>


    <mat-form-field class="form-custom">
      <mat-label>{{ 'password' | translate | titlecase }}</mat-label>
      <input matInput [type]="hiddenPwd ? 'password' : 'text'" #password formControlName="password">
      <mat-icon matSuffix (click)="hiddenPwd= !hiddenPwd" >lock</mat-icon>
      <mat-error *ngIf="loginForm.get('password')?.invalid ">{{formValidation.getErrorMessage(loginForm.controls['password']) | async | titlecase  }} </mat-error>
    </mat-form-field>

    <div class="submitCont">
      <button mat-raised-button class="custom-button" color="primary" [disabled]="!loginForm.valid" >{{ 'login' | translate | titlecase }}</button>
    </div>

    <span class="lineRegister">{{ 'witout_account' | translate | titlecase }} <a mat-button color="primary" routerLink="">{{ 'register_here' | translate | titlecase }}</a></span>
  </form>


</mat-card-content>
