.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toggle-switch {
  position: relative;
  width: 70px;
  height: 40px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.toolbar{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 2%;
  padding: 2%;
  box-sizing: border-box;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card{
  padding: 2% 1%;
  background-color: var(---background-second);
  border-radius: 20px;
  width: 40%;
}

mat-card-content{
  margin-top: 10%;
}



::ng-deep .form-custom .mat-mdc-text-field-wrapper{
  border-radius: 20px;
}

.custom-button{
  border-radius: 20px;
  padding: 6% 9%
}
